* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div.wrapper {
  width: 90%;
  padding: 30px;
  display: flex;
  background-color: lightgray;
  border-radius: 20px;
  margin: 90px auto;
}
div.wrapper > div {
  width: 120px;
  height: 900px;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}
div.wrapper > div > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 15px;
}
.active{
    flex: 1;
    display: flex;
}
